---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Element from '../components/Element.astro';
import Bar from '../components/Bar.astro';
---

<Layout title="Welcome to Astro.">
	<Bar />

	<main class="flex flex-col max-w-md m-auto">
		<img src="../logo-ch.svg" class="w-44 mt-5 xl:mt-10 2xl:mt-10 mb-10"/>
		<h1 class="text-4xl mb-8 font-bold text-darkblue">Sjekkliste installasjon StrømKontroll:</h1>

			<Element
				title="Sjekk at alle komponenter er i boksen. (Smarthub, Termostat, Relé og HAN-sensor)"
				id="1"
			/>

			<Element
				title="Har kunden åpnet HAN-porten? (Dette gjøres via nettleieselskapet)"
				id="2"
			/>

			<Element
				title="Koble Smarthuben til strøm og nettverk"
				id="3"
			/>

			<Element
				title="Last ned Futurehome appen, registrer bruker og logg inn. Hopp over denne om du har gjort dette fra før"
				id="4"
			/>

			<Element
				title="Opprett husholdning i appen og kall den gjerne det samme som adressen. F.eks. Smarthus gate 1"
				id="5"
			/>

		<h2 class="text-4xl mb-8 font-bold text-darkblue">
			Monter enhetene:</h2>

			<Element
				title="Velg riktig temperaturføler på selve termostaten"
				id="6"
			/>

			<Element
				title="Relé"
				id="7"
			/>

			<Element
				title="HAN-sensor"
				id="8"
			/>

			</div></div>

	</main>
</Layout>

<script src="https://code.jquery.com/jquery-3.6.1.slim.min.js" integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA=" crossorigin="anonymous"></script>
<script src="../js/Counter.js"></script>