---
---

<div
    class="sticky z-40 top-0 py-12 px-14 flex flex-row place-content-center bg-darkgreen m-auto space-x-5"
>
    <div
        id="progess-bar"
        style="width: 50%;"
        class="grow self-center rounded-2xl bg-white max-w-xs"
    >
        <div
            id="indicator"
            class="h-2 bg-darkblue rounded-2xl mr-2"
            style="width: 0%;"
        >
        </div>
    </div>
    <div id="progess-text" class="grow-0 w-5"><span id="percent">0</span>%</div>
</div>

<style>
    #indicator {
        transition: width 300ms ease-in-out;
    }
</style>
