---
import Logo from "./Logo.astro";
---

<div
    id="completed"
    class="z-50 w-full bg-darkblue sticky top-0 flex flex-col hidden justify-items-center"
>
    <div
        id="completed-inner"
        class="flex flex-col justify-items-center max-w-md m-auto pb-10 pt-5 pl-6 pr-5"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            id="close"
            class="max-h-10 fill-white ml-auto justify-self-end"
            viewBox="0 0 320 512"
            ><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. -->
            <path
                d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"
            ></path>
        </svg>
        <div class="justify-center flex flex-col">
            <h2 class="text-white text-5xl font-bold text-center">
                Gratulerer!
            </h2>
            <h3 class="text-white text-4xl font-bold text-center">
                Du har fullført installasjonen
            </h3>
        </div>
    </div>
</div>

<style>
    .hidden {
        display: none;
    }
</style>

<script>
    $("#close").click(function () {
        $("#completed").addClass("hidden");
    });
</script>
