---
export interface Props {
	title: string;
    id: string;
}

const { title, id } = Astro.props;
---


<div class="label-click">
    <input type="checkbox" id={id} class="check"/>
    <label for={id}>
      <span><!-- This span is needed to create the "checkbox" element --></span>{title}
    </label>
</div>

<style>

.check:checked + label {
    color: grey;
    text-decoration: line-through;
}

</style>